{% extends "base.html" %}

{% block content %}
<div class="container-sm">Оплата прошла успешно!</div>
{% endblock %}

<!--{% extends "base.html" %}-->

<!--{% block content %}-->
<!--<div class="container" style="margin-top: 100px; text-align: center;">-->
<!--    <div class="alert alert-success">-->
<!--        <h3>✅ Заказ оформлен!</h3>-->
<!--        <p>Спасибо за покупку!</p>-->
<!--        <p>Сумма: {{ total_price }} ₽</p>-->
<!--        <a href="{{ url_for('all_tour') }}" class="btn btn-primary">Вернуться к турам</a>-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock %}-->