{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
            <h2>Контакты</h2>
        </div>

        <div class="card-body">

            <h4>Наши телефоны</h4>
            <p>8 (8352) 60–35–60<br>+7 (902) 017–35–60</p>

            <h4>E-mail</h4>
            <p>otdych21@mail.ru</p>

            <h4>Соцсети</h4>
            <p>krim_pozitiv</p>

            <h4>О компании</h4>
            <p><strong>ООО «Волжские Экскурсии»</strong></p>
            <p>ИНН 2130070147, ОГРН 1102130002920</p>
            <p>Юридический адрес: 428000, Чувашская Республика, г. Чебоксары, проезд Соляное, д. 6, оф. 5</p>
            <p>Почтовый адрес: 428000, Чувашская Республика, г. Чебоксары, проезд Соляное, д. 6, оф. 5</p>

        </div>
    </div>
</div>
{% endblock %}